## SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var={1,2,3,4,3}

In [3]:
set_var # Doesn't take repeated values

{1, 2, 3, 4}

In [4]:
set_var={"M","S",'D'}
print(set_var)
type(set_var)

{'D', 'M', 'S'}

set

In [5]:
## Inbuilt function in sets

set_var.add("H")

In [6]:
print(set_var)

{'H', 'D', 'M', 'S'}

In [7]:
set_var[0]

TypeError: 'set' object is not subscriptable

In [25]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [22]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [23]:
set2.intersection_update(set1)

In [24]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [26]:
## Difference update

set2.difference_update(set1)

In [27]:
print(set2)

{'Hulk2'}

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [33]:
dict1 = {} # if empty curly braces then dict otherwise set.

In [34]:
type(dict1)

dict

In [35]:
type(dict()) # built-in function

dict

In [36]:
set_ex={1,2,3,4,5}

In [37]:
type(set_ex)

set

In [38]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [39]:
type(my_dict)

dict

In [40]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [41]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [42]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [44]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [45]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [47]:
my_dict['Car1']='Maruti' # override the value corresponding to the key if already present

In [48]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

## Nested Dictionary

In [49]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [50]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [51]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [52]:
print(car_type['car1']['Mercedes'])

1960

## Tuples
- immutable, ordered, Items can't be changed or reassigned a value but the whole tuple's value can be replaced by another tuple.

In [53]:
## create an empty Tuples

my_tuple=tuple()

In [54]:
type(my_tuple)

tuple

In [55]:
my_tuple=() # Use of empty round brackets create a tuple

In [56]:
type(my_tuple)

tuple

In [61]:
my_tuple=("M","S","D")
my_tuple[1]

'S'

In [60]:
my_tuple[1] = "R"

TypeError: 'tuple' object does not support item assignment

In [62]:
my_tuple=('Hello','World')

In [63]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [64]:
type(my_tuple)

tuple

In [66]:
## Inbuilt function
my_tuple.count('Hello')

1

In [67]:
my_tuple.index('World')

1