## Pandas Tutorial
Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

In [1]:
## First step is to import pandas

import pandas as pd
import numpy as np

In [14]:
## Playing with Dataframe

df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'], columns = ['Column1', 'Column2', 'Column3', 'Column4'])

In [15]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [16]:
## Accessing the elements

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [17]:
## Check the type

type(df.loc['Row1'])

pandas.core.series.Series

In [18]:
df.iloc[:,:] # all rows and columns

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [19]:
## Take the elements from the Column2
df.iloc[:,1:]

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [20]:
#convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [22]:
df['Column1'].value_counts() # counts no of occurrence

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

In [24]:
df['Column1'].unique() # Gives array if unique values from column1

array([ 0,  4,  8, 12, 16])