## Amazing Library For EDA- Dtale

In [1]:
import seaborn as sns

In [2]:
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [3]:
df=sns.load_dataset('planets')

In [4]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [6]:
import dtale

In [7]:
dtale.show(df)

In [8]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = np.histogram(df[~pd.isnull(df['distance'])][['distance']], bins=20)
# main statistics
stats = df['distance'].describe().to_frame().T

In [9]:
stats

          count        mean         std   min    25%    50%    75%     max
distance  808.0  264.069282  733.116493  1.35  32.56  55.25  178.5  8500.0

In [11]:
s = df['distance']
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
iqr = q3 - q1
iqr_lower = q1 - 1.5 * iqr
iqr_upper = q3 + 1.5 * iqr
outliers = dict(s[(s < iqr_lower) | (s > iqr_upper)])

In [12]:
outliers

{39: np.float64(500.0),
 40: np.float64(500.0),
 93: np.float64(680.0),
 100: np.float64(460.0),
 102: np.float64(560.0),
 103: np.float64(1150.0),
 104: np.float64(1060.0),
 105: np.float64(1340.0),
 106: np.float64(840.0),
 107: np.float64(920.0),
 108: np.float64(870.0),
 109: np.float64(770.0),
 110: np.float64(1230.0),
 111: np.float64(600.0),
 158: np.float64(480.0),
 185: np.float64(535.0),
 187: np.float64(411.0),
 189: np.float64(642.0),
 190: np.float64(501.0),
 192: np.float64(447.0),
 193: np.float64(542.0),
 197: np.float64(453.0),
 654: np.float64(550.0),
 658: np.float64(1330.0),
 659: np.float64(650.0),
 660: np.float64(650.0),
 661: np.float64(650.0),
 664: np.float64(613.0),
 665: np.float64(613.0),
 666: np.float64(613.0),
 667: np.float64(613.0),
 668: np.float64(613.0),
 669: np.float64(613.0),
 670: np.float64(600.0),
 672: np.float64(980.0),
 675: np.float64(800.0),
 679: np.float64(2119.0),
 680: np.float64(2119.0),
 688: np.float64(800.0),
 689: np.float64(800.0),
 690: np.float64(1200.0),
 691: np.float64(1200.0),
 701: np.float64(1400.0),
 702: np.float64(1400.0),
 703: np.float64(1400.0),
 704: np.float64(1400.0),
 705: np.float64(1400.0),
 706: np.float64(2100.0),
 707: np.float64(2100.0),
 718: np.float64(1499.0),
 719: np.float64(1645.0),
 720: np.float64(470.0),
 721: np.float64(470.0),
 725: np.float64(600.0),
 726: np.float64(1200.0),
 727: np.float64(2700.0),
 728: np.float64(770.0),
 732: np.float64(1950.0),
 733: np.float64(2250.0),
 735: np.float64(855.0),
 736: np.float64(855.0),
 737: np.float64(1500.0),
 738: np.float64(1500.0),
 776: np.float64(1000.0),
 780: np.float64(1107.0),
 781: np.float64(1107.0),
 787: np.float64(1180.0),
 788: np.float64(1180.0),
 789: np.float64(800.0),
 790: np.float64(1330.0),
 791: np.float64(1140.0),
 793: np.float64(570.0),
 818: np.float64(780.0),
 819: np.float64(780.0),
 820: np.float64(780.0),
 821: np.float64(780.0),
 822: np.float64(780.0),
 823: np.float64(780.0),
 824: np.float64(780.0),
 825: np.float64(1030.0),
 898: np.float64(1056.0),
 901: np.float64(2000.0),
 905: np.float64(3600.0),
 909: np.float64(2300.0),
 910: np.float64(2800.0),
 911: np.float64(7720.0),
 912: np.float64(7560.0),
 924: np.float64(2570.0),
 925: np.float64(4080.0),
 926: np.float64(4080.0),
 927: np.float64(1760.0),
 928: np.float64(4970.0),
 933: np.float64(600.0),
 934: np.float64(2500.0),
 938: np.float64(1200.0),
 945: np.float64(1200.0),
 951: np.float64(8500.0),
 952: np.float64(8500.0),
 955: np.float64(492.0),
 959: np.float64(408.0),
 974: np.float64(400.0),
 990: np.float64(450.0),
 1008: np.float64(455.0),
 1011: np.float64(400.0),
 1012: np.float64(480.0),
 1023: np.float64(550.0),
 1026: np.float64(470.0),
 1028: np.float64(3200.0)}

In [14]:
df.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [16]:
df_numeric = df.select_dtypes(include='number')
df_numeric.corr()

                  number  orbital_period      mass  distance      year
number          1.000000       -0.012570 -0.241429 -0.033638  0.147849
orbital_period -0.012570        1.000000  0.173725 -0.034365 -0.032333
mass           -0.241429        0.173725  1.000000  0.274082 -0.123787
distance       -0.033638       -0.034365  0.274082  1.000000  0.178922
year            0.147849       -0.032333 -0.123787  0.178922  1.000000