## Shapash Model Overview
   
   https://shapash.readthedocs.io/en/latest/

With this tutorial you:
Understand how to create a Shapash SmartPredictor to make prediction and have local explanation in production with a simple use case.

This tutorial describes the different steps from training the model to Shapash SmartPredictor deployment. A more detailed tutorial allows you to know more about the SmartPredictor Object.

Contents:

* Build a Regressor
* Compile Shapash SmartExplainer
* From Shapash SmartExplainer to SmartPredictor
* Save Shapash Smartpredictor Object in pickle file
* Make a prediction

In [7]:
import seaborn as sns

In [8]:
df=sns.load_dataset('tips')

In [9]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
### Divide the dataset into independent and dependent dataset
y=df['tip']
X=df[df.columns.difference(['tip'])]

In [11]:
X.head()

   day     sex  size smoker    time  total_bill
0  Sun  Female     2     No  Dinner       16.99
1  Sun    Male     3     No  Dinner       10.34
2  Sun    Male     3     No  Dinner       21.01
3  Sun    Male     2     No  Dinner       23.68
4  Sun  Female     4     No  Dinner       24.59

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [13]:
X['day']=X['day'].cat.codes
X['sex']=X['sex'].cat.codes
X['smoker']=X['smoker'].cat.codes
X['time']=X['time'].cat.codes

C:\Users\manpr\AppData\Local\Temp\ipykernel_23028\4105089070.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\manpr\AppData\Local\Temp\ipykernel_23028\4105089070.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\manpr\AppData\Local\Temp\ipykernel_23028\4105089070.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\manpr\AppData\Local\Temp\ipykernel_23028\4105089070.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
X

     day  sex  size  smoker  time  total_bill
0      3    1     2       1     1       16.99
1      3    0     3       1     1       10.34
2      3    0     3       1     1       21.01
3      3    0     2       1     1       23.68
4      3    1     4       1     1       24.59
..   ...  ...   ...     ...   ...         ...
239    2    0     3       1     1       29.03
240    2    1     2       0     1       27.18
241    2    0     2       0     1       22.67
242    2    0     2       1     1       17.82
243    0    1     2       1     1       18.78

[244 rows x 6 columns]

In [15]:
### Train Test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=1)

In [16]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=200).fit(X_train,y_train)

## Lets Understand Our Model With Shapash
In this section, we use the SmartExplainer Object from shapash.

* It allows users to understand how the model works with the specified data.
* This object must be used only for data mining step. Shapash provides another object for deployment.

In [1]:
from shapash.explainer.smart_explainer import SmartExplainer

In [19]:
xpl = SmartExplainer(model=regressor)

In [21]:
xpl.compile(
    x=X_test
)

INFO: Shap explainer type - <shap.explainers._tree.TreeExplainer object at 0x000002BF9DEFA980>

In [22]:
xpl

## Lets Understand the results of your trained model
Then, we can easily get a first summary of the explanation of the model results.

* Here, we chose to get the 3 most contributive features for each prediction.
* We used a wording to get features names more understandable in operationnal case.

In [23]:
app = xpl.run_app(title_story='Tips Dataset')

INFO:root:Your Shapash application run on http://Mappy:8050/
INFO:root:Use the method .kill() to down your app.
Exception in thread Thread-3 (<lambda>):
Traceback (most recent call last):
  File "C:\Users\manpr\anaconda3\lib\site-packages\urllib3\connection.py", line 198, in _new_conn
    sock = connection.create_connection(
  File "C:\Users\manpr\anaconda3\lib\site-packages\urllib3\util\connection.py", line 85, in create_connection
    raise err
  File "C:\Users\manpr\anaconda3\lib\site-packages\urllib3\util\connection.py", line 73, in create_connection
    sock.connect(sa)
OSError: [WinError 10049] The requested address is not valid in its context

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\manpr\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 787, in urlopen
    response = self._make_request(
  File "C:\Users\manpr\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 493, in _make_request
    conn.request(
  File "C:\Users\manpr\anaconda3\lib\site-packages\urllib3\connection.py", line 494, in request
    self.endheaders()
  File "C:\Users\manpr\anaconda3\lib\http\client.py", line 1278, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "C:\Users\manpr\anaconda3\lib\http\client.py", line 1038, in _send_output
    self.send(msg)
  File "C:\Users\manpr\anaconda3\lib\http\client.py", line 976, in send
    self.connect()
  File "C:\Users\manpr\anaconda3\lib\site-packages\urllib3\connection.py", line 325, in connect
    self.sock = self._new_conn()
  File "C:\Users\manpr\anaconda3\lib\site-packages\urllib3\connection.py", line 213, in _new_conn
    raise NewConnectionError(
urllib3.exceptions.NewConnectionError: <urllib3.connection.HTTPConnection object at 0x000002BF9EB72320>: Failed to establish a new connection: [WinError 10049] The requested address is not valid in its context

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\manpr\anaconda3\lib\site-packages\requests\adapters.py", line 644, in send
    resp = conn.urlopen(
  File "C:\Users\manpr\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 841, in urlopen
    retries = retries.increment(
  File "C:\Users\manpr\anaconda3\lib\site-packages\urllib3\util\retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
urllib3.exceptions.MaxRetryError: HTTPConnectionPool(host='0.0.0.0', port=8050): Max retries exceeded with url: /_alive_91e57f8d-d688-41c4-ad1d-8f0d1ae836f4 (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x000002BF9EB72320>: Failed to establish a new connection: [WinError 10049] The requested address is not valid in its context'))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\manpr\anaconda3\lib\threading.py", line 1016, in _bootstrap_inner
    self.run()
  File "C:\Users\manpr\anaconda3\lib\site-packages\shapash\utils\threading.py", line 32, in __run
    self.__run_backup()
  File "C:\Users\manpr\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 772, in run_closure
    _threading_Thread_run(self)
  File "C:\Users\manpr\anaconda3\lib\threading.py", line 953, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\manpr\anaconda3\lib\site-packages\shapash\explainer\smart_explainer.py", line 1094, in <lambda>
    target=lambda: self.smartapp.app.run_server(debug=False, host=host, port=port)
  File "C:\Users\manpr\anaconda3\lib\site-packages\dash\dash.py", line 2287, in run_server
    self.run(*args, **kwargs)
  File "C:\Users\manpr\anaconda3\lib\site-packages\dash\dash.py", line 2173, in run
    jupyter_dash.run_app(
  File "C:\Users\manpr\anaconda3\lib\site-packages\dash\_jupyter.py", line 405, in run_app
    raise final_error
  File "C:\Users\manpr\anaconda3\lib\site-packages\dash\_jupyter.py", line 392, in run_app
    wait_for_app()
  File "C:\Users\manpr\anaconda3\lib\site-packages\retrying.py", line 55, in wrapped_f
    return Retrying(*dargs, **dkw).call(f, *args, **kw)
  File "C:\Users\manpr\anaconda3\lib\site-packages\retrying.py", line 289, in call
    raise attempt.get()
  File "C:\Users\manpr\anaconda3\lib\site-packages\retrying.py", line 326, in get
    raise exc.with_traceback(tb)
  File "C:\Users\manpr\anaconda3\lib\site-packages\retrying.py", line 273, in call
    attempt = Attempt(fn(*args, **kwargs), attempt_number, False)
  File "C:\Users\manpr\anaconda3\lib\site-packages\dash\_jupyter.py", line 389, in wait_for_app
    raise err
  File "C:\Users\manpr\anaconda3\lib\site-packages\dash\_jupyter.py", line 376, in wait_for_app
    req = requests.get(alive_url)
  File "C:\Users\manpr\anaconda3\lib\site-packages\requests\api.py", line 73, in get
    return request("get", url, params=params, **kwargs)
  File "C:\Users\manpr\anaconda3\lib\site-packages\requests\api.py", line 59, in request
    return session.request(method=method, url=url, **kwargs)
  File "C:\Users\manpr\anaconda3\lib\site-packages\requests\sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
  File "C:\Users\manpr\anaconda3\lib\site-packages\requests\sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
  File "C:\Users\manpr\anaconda3\lib\site-packages\requests\adapters.py", line 677, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPConnectionPool(host='0.0.0.0', port=8050): Max retries exceeded with url: /_alive_91e57f8d-d688-41c4-ad1d-8f0d1ae836f4 (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x000002BF9EB72320>: Failed to establish a new connection: [WinError 10049] The requested address is not valid in its context'))

In [24]:
predictor = xpl.to_smartpredictor()

In [25]:
predictor.save('./predictor.pkl')

In [26]:
from shapash.utils.load_smartpredictor import load_smartpredictor
predictor_load = load_smartpredictor('./predictor.pkl')

### Make a prediction with your SmartPredictor
In order to make new predictions and summarize local explainability of your model on new datasets, you can use the method add_input of the SmartPredictor.

* The add_input method is the first step to add a dataset for prediction and explainability.
* It checks the structure of the dataset, the prediction and the contribution if specified.
* It applies the preprocessing specified in the initialisation and reorder the features with the order used by the model. (see the documentation of this method)
* In API mode, this method can handle dictionnaries data which can be received from a GET or a POST request.
* Add data
* The x input in add_input method doesn't have to be encoded, add_input applies preprocessing.

In [28]:
predictor_load.add_input(x=X, ypred=y)

INFO: Shap explainer type - <shap.explainers._tree.TreeExplainer object at 0x000002BF9EC82140>

In [29]:
detailed_contributions = predictor_load.detail_contributions()

INFO: Shap explainer type - <shap.explainers._tree.TreeExplainer object at 0x000002BF9EC82140>

In [30]:
detailed_contributions.head()

    tip       day       sex      size    smoker      time  total_bill
0  1.01  0.052044  0.117823 -0.001178 -0.023179 -0.009311    0.170889
1  1.66  0.082913 -0.055379 -0.000548 -0.066231 -0.021556   -1.237511
2  3.50  0.063217 -0.026336 -0.011586  0.004324 -0.002025    0.416593
3  3.31  0.120787 -0.023050 -0.030325  0.019763 -0.002684    0.127397
4  3.61  0.038054  0.058781 -0.020263  0.009684 -0.019167   -0.325501

## Summarize explanability of the predictions
* You can use the summarize method to summarize your local explainability
* This summary can be configured with modify_mask method so that you have explainability that meets your operational needs.

In [35]:
predictor_load.modify_mask(max_contrib=3, features_to_hide=[])

In [36]:
explanation = predictor_load.summarize()

In [37]:
explanation.head()

,tip,feature_1,value_1,contribution_1,feature_2,value_2,contribution_2,feature_3,value_3,contribution_3
0,1.01,total_bill,16.99,0.170889,sex,1.0,0.117823,day,3.0,0.052044
1,1.66,total_bill,10.34,-1.237511,day,3.0,0.082913,smoker,1.0,-0.066231
2,3.50,total_bill,21.01,0.416593,day,3.0,0.063217,sex,0.0,-0.026336
3,3.31,total_bill,23.68,0.127397,day,3.0,0.120787,size,2.0,-0.030325
4,3.61,total_bill,24.59,-0.325501,sex,1.0,0.058781,day,3.0,0.038054